<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key ="NextOrderNum" value ="20001" />
    <add key ="NextContextNum" value = "20001"/>
    <add key ="NextCustomerNum" value ="20001"/>
    <add key ="TaxPercent" value ="6"/>
    <add key ="RouterDir" value= "C:\\SRC\\Legacy-Delivery-Master\\build\\Data\\Router" />
    <add key ="ServiceEXE" value ="C:\\SRC]\Legacy-Delivery-Master\\build\\\BinDebug\\netcoreapp3.1\\GetserviceXML.exe"/>
  </appSettings>
</configuration>

