@page "/"

<h1>Hello, welcome to Modern Delivery Application!</h1>

<p>
    This application demostration Microsoft newly release Blazor application, that
    is compatible with with older Visual Studio 2008 application using tecniques of
    routing xml to server and storing information in database.
</p>

<p>
    A typical C++ application sometimes takes a week or more to add some functionality.
    However, with the new Blazor page, functionality can be achieved within minutes
    utilizing the same database and is also portable across multiple platforms..
</p>

<p> Stewart Hyde </p>
<p></p>
<a href="about">About this project</a>


@code {

}